/* ----------------------------------- COLORS ----------------------------------- */

$c_bg_card: hsl(228, 56%, 26%);
$c_bg_button: hsl(229, 57%, 11%);

$gradiant_bg_progressbar: to right, hsl(6, 100%, 80%),hsl(335, 100%, 65%);

$c_txt_light: hsl(243, 100%, 93%);
$c_txt_dark: hsl(229, 57%, 11%);
$c_txt_lesser: hsl(229, 7%, 55%);
$c_white: hsl(0, 0%, 100%);
